.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    height: 45px;
  }
  
  .left {
    font-size: 20px;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .menu-item {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .icons {
    display: flex;
  }
  
  .icons i {
    font-size: 20px;
    margin-left: 10px;
  }
  
  .icons i:hover {
    color: #ccc;
  }
  