/* BottomBox.css */

.bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 13, 13);
    padding: 20px;
    border-top: 1px solid #ccc;
    height: 150px;
  }
  
  .left div {
    margin-bottom: 20px;
  }
  
  .right p {
    margin: 20px;
  }
  
  .company-name {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  .location {
    font-size: 14px;
    color: white;
  }
  
  .text {
    font-size: 16px;
    color: white;
  }
  
  .contact-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-button:hover {
    background-color: #0056b3;
  }
  